table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 50%;
}
th,td{
    border: 1px solid black;
    padding: 10px;
    
}
tr:nth-child(2n){
    color: blue;
}
tr:nth-child(2n+1){
    background-color: burlywood;
}
